@mixin area {
  background-color: map-get($map: $paletacolores, $key: colorPrimario);
  padding: 3rem;
  margin-bottom: 5px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    color: map-get($map: $paletacolores, $key: colorBlanco);
  }
  .icono {
    font-size: 3.2rem;
    color: map-get($map: $paletacolores, $key: colorBlanco);
  }
}

.t_areas1 {
  @include area;
}
.t_areas2 {
  @include area;
}
.t_areas3 {
  @include area;
}

.t_areas3 {
  @include area;
}
