/* Texto banner */
.carousel-caption {
    h5 {
      font-weight: bold;
      font-size: 2rem;
      color: map-get($map: $paletacolores, $key: colorPrimario);
      background-color: map-get($map: $paletacolores, $key: colorBlanco);
    }
  }
  