.productos,
.nosotros {
  background-color: map-get($map: $paletacolores, $key: colorSecundario);
  text-align: center;
}
.contacto {
  background-color: map-get($map: $paletacolores, $key: colorSecundario);
}

.titulotarjetas {
  color: map-get($map: $paletacolores, $key: colorPrimario);
  font-weight: bold;
}

/* Contenido de page areas*/
.areatext{
  background-color: map-get($map: $paletacolores, $key: colorSecundario);
  padding: 15px;
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  
  h2{
    color: map-get($map: $paletacolores, $key: colorPrimario);
    text-align: center;
  }
  p{
    color:map-get($map: $paletacolores, $key: colorBlanco);
    text-align: center;
  }
}