/* Formulario */
.form-label {
    padding-top: 0.2em;
    color: map-get($map: $paletacolores, $key: colorPrimario);
  }
  
  .form-control {
    border: 1px solid map-get($map: $paletacolores, $key: colorPrimario);
  }