/* logotipo */
.imglogo {
  width: 300px;
}
/* Banner otros */
.banners {
  display:flex;
  justify-content:center;
  width: 100%;
  background-color: $colorSecundario;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.3);
}

.titulos {
  color: $colorPrimario;
  padding: 15px;
  font-weight: 700;
  font-size: 35px;
  opacity: 0.85;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.3);
}

.texto {
  color: $colorSecundario;
  font-weight: 400;
  opacity: 0.75;
  text-align: center;
}

.banner_inicio {
  img {
    width: 100%;
  }
}

.imgfoto {
  display: flex;
  justify-content: center;
  align-items: center;
}
