/* Menu principal*/
.menu {
  color: map-get($map: $paletacolores, $key: colorBlanco);
}

.menu:hover {
  color: map-get($map: $paletacolores, $key: colorSecundario);
  font-weight: bold;
  border-bottom: 5px solid map-get($map: $paletacolores, $key: colorSecundario);
}
