/* Slogan index*/
.btn_nosotros_a {
  text-decoration: none;
  color:map-get($map: $paletacolores, $key: colorPrimario);
  font-weight: bold;
}

.btn_nosotros_a:hover {
  color: map-get($map: $paletacolores, $key: colorSecundario);
  font-size: 1.1rem;
}

.slogan {
  padding: 25px;
}
