$colorPrimario: #ba1010;
$colorSecundario: #797575;
$colorBlanco: #fff;

@import "_reset.scss";
@import "_carrusel";
@import "_menuPrincipal";
@import "_pie.scss";
@import "_sloganIndex.scss";
@import "_botonesR.scss";
@import "_media.scss";
@import "_formulario.scss";
@import "_imagen.scss";
@import "_contenido.scss";
@import "_areas.scss";
@import "_generales.scss";

