/*reset*/
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

/* Texto banner */
.carousel-caption h5 {
  font-weight: bold;
  font-size: 2rem;
  color: #ba1010;
  background-color: #fff; }

/* Menu principal*/
.menu {
  color: #fff; }

.menu:hover {
  color: #797575;
  font-weight: bold;
  border-bottom: 5px solid #fff; }

/* Texto Footer general */
.texto_f h4 {
  font-size: 1rem; }

.texto_f h2 {
  font-size: 1.5rem; }

.texto_f p {
  font-size: 1rem;
  padding-bottom: 10px; }

.caja_mm {
  padding: 25px; }

.texto_mm {
  color: #ba1010; }

/*Redes Footer*/
.iredesf {
  font-size: 3rem;
  padding: 1.5rem;
  color: #fff; }

.iredesf:hover {
  color: #797575; }

.parrafo,
.slogan_t {
  text-align: center; }

/* Slogan index*/
.btn_nosotros_a {
  text-decoration: none;
  color: #ba1010;
  font-weight: bold; }

.btn_nosotros_a:hover {
  color: #797575;
  font-size: 1.1rem; }

.slogan {
  padding: 25px; }

/* Botones de redes sociales */
.iredes {
  font-size: 1.5rem;
  color: #fff; }

.iredes:hover {
  color: #797575; }

/* @media */
@media (min-width: 380px) {
  .texto_f h4,
  h2 {
    display: flex;
    justify-content: center;
    align-items: center; }
  .texto_f {
    text-align: center; } }

@media (min-width: 768px) {
  .texto_f h4,
  h2 {
    display: flex;
    justify-content: left;
    align-items: center; }
  .texto_f {
    text-align: left; } }

/* Formulario */
.form-label {
  padding-top: 0.2em;
  color: #ba1010; }

.form-control {
  border: 1px solid #ba1010; }

/* logotipo */
.imglogo {
  width: 300px; }

/* Banner otros */
.banner_inicio img {
  width: 100%; }

.imgfoto {
  display: flex;
  justify-content: center;
  align-items: center; }

.productos,
.nosotros {
  background-color: #797575;
  text-align: center; }

.contacto {
  background-color: #797575; }

.titulotarjetas {
  color: #ba1010;
  font-weight: bold; }

/* Contenido de page areas*/
.areatext {
  background-color: #797575;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .areatext h2 {
    color: #ba1010;
    text-align: center; }
  .areatext p {
    color: #fff;
    text-align: center; }

.t_areas {
  background-color: #ba1010;
  padding: 3rem;
  margin-bottom: 5px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .t_areas h2 {
    color: #fff; }

.icono {
  font-size: 3.2rem;
  color: #fff; }
