/*reset*/
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

/* Menu principal*/
.menu {
  color: #fff; }

.menu:hover {
  color: #797575;
  font-weight: bold;
  border-bottom: 5px solid #797575; }

/* Texto Footer general */
.texto_f h4 {
  font-size: 1rem; }

.texto_f h2 {
  font-size: 1.5rem; }

.texto_f p {
  font-size: 1rem;
  padding-bottom: 10px; }

.caja_mm {
  padding: 25px; }

.texto_mm {
  color: #BA1010; }

/*Redes Footer*/
.iredesf {
  font-size: 3rem;
  padding: 1.5rem;
  color: #fff; }

.iredesf:hover {
  color: #797575; }

.parrafo,
.slogan_t {
  text-align: center; }

/* Slogan index*/
.btn_nosotros_a {
  text-decoration: none;
  color: #BA1010;
  font-weight: bold; }

.btn_nosotros_a:hover {
  color: #797575;
  font-size: 1.1rem; }

.slogan {
  padding: 25px; }

/* Botones de redes sociales */
.iredes {
  font-size: 1.5rem;
  color: #fff; }

.iredes:hover {
  color: #797575; }

/* @media */
@media (min-width: 380px) {
  .texto_f h4,
  h2 {
    display: flex;
    justify-content: center;
    align-items: center; }
  .texto_f {
    text-align: center; } }

@media (min-width: 768px) {
  .texto_f h4,
  h2 {
    display: flex;
    justify-content: left;
    align-items: center; }
  .texto_f {
    text-align: left; } }

/* Formulario */
.form-label {
  padding-top: 0.2em;
  color: #BA1010; }

.form-control {
  border: 1px solid #BA1010; }

/* logotipo */
.imglogo {
  width: 300px; }

/* Banner otros */
.banners, .ubanners {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #797575;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.3); }

.titulos, .utitulo {
  color: #BA1010;
  padding: 15px;
  font-weight: 700;
  font-size: 35px;
  opacity: 0.85;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.3); }

.texto, .utexto {
  color: #797575;
  font-weight: 400;
  opacity: 0.75;
  text-align: center; }

.banner_inicio img {
  width: 100%; }

.imgfoto {
  display: flex;
  justify-content: center;
  align-items: center; }

.productos,
.nosotros {
  background-color: #797575;
  text-align: center; }

.contacto {
  background-color: #797575; }

.titulotarjetas {
  color: #BA1010;
  font-weight: bold; }

/* Contenido de page areas*/
.areatext {
  background-color: #797575;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .areatext h2 {
    color: #BA1010;
    text-align: center; }
  .areatext p {
    color: #fff;
    text-align: center; }

/* Texto banner */
.carousel-caption h5 {
  font-weight: bold;
  font-size: 2rem;
  color: #BA1010;
  background-color: #fff; }

.t_areas1 {
  background-color: #BA1010;
  padding: 3rem;
  margin-bottom: 5px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .t_areas1 h2 {
    color: #fff; }
  .t_areas1 .icono {
    font-size: 3.2rem;
    color: #fff; }

.t_areas2 {
  background-color: #BA1010;
  padding: 3rem;
  margin-bottom: 5px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .t_areas2 h2 {
    color: #fff; }
  .t_areas2 .icono {
    font-size: 3.2rem;
    color: #fff; }

.t_areas3 {
  background-color: #BA1010;
  padding: 3rem;
  margin-bottom: 5px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .t_areas3 h2 {
    color: #fff; }
  .t_areas3 .icono {
    font-size: 3.2rem;
    color: #fff; }

.t_areas3 {
  background-color: #BA1010;
  padding: 3rem;
  margin-bottom: 5px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .t_areas3 h2 {
    color: #fff; }
  .t_areas3 .icono {
    font-size: 3.2rem;
    color: #fff; }
